<html>
    <head>
        <title>Композиты</title>
    </head>
    <body>
        <h1>Предсказание "Модуля упругости при растяжении"</h1>
        <form method="post">
            <p>
                <label1>Плотность, кг/м3</label1>
                <input type ='number' name = 'plotnost'>
            </p>

            <p>
                <label2>модуль упругости, ГПа</label2>
                <input type ='number' name = 'modulupr'>
            </p>

            <p>
                <label3>Количество отвердителя, м.%</label3>
                <input type ='number' name = 'amount'>
            </p>

            <p>
                <label4>Содержание эпоксидных групп,%_2</label4>
                <input type ='number' name = 'epoks'>
            </p>

            <p>
                <label5>Температура вспышки, С_2</label5>
                <input type ='number' name = 'tepm'>
            </p>

            <p>
                <label6>Поверхностная плотность, г/м2</label6>
                <input type ='number' name = 'poverkhplotn'>
            </p>

            <p>
                <label7>Потребление смолы, г/м2</label7>
                <input type ='number' name = 'smol'>
            </p>

            <p>
                <label8>Шаг нашивки</label8>
                <input type ='number' name = 'shag'>
            </p>

            <p>
                <label9>Плотность нашивки</label9>
                <input type ='number' name = 'plotnostn'>
            </p>
            
            <p>
                <label10>Соотношение матрица-наполнитель</label10>
                <input type ='number' name = 'mat'>
            </p>  

            <p>
                <label11>Угол нашивки, град</label11>
                <input type ='number' name = 'ugol'>
            </p>
           

            <p>
                <input type = 'submit'>
            </p>       



        </form>
        {% if message %}
        {{message}}
        {% endif %}
    </body>
</html>