<html>
    <head>
        <title>Композиты</title>
    </head>
    <body>
        <h1>Предсказание "Модуля упругости при растяжении"</h1>
        <form method="post">
            <p>
                <label>Плотность, кг/м3</label>
                <input type ='number' name = 'plotnost'>
            </p>
           

            <p>
                <input type = 'submit'>
            </p>       



        </form>
        {% if message %}
        {{message}}
        {% endif %}
    </body>
</html>